*{
    padding: 0px;
    margin: 0px;

}

body{
    font-family: 'Nunito', sans-serif;
    background-image:url(./bc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


 
    

}

header{
    background-color: rgb(39, 71, 234);
    display:  flex;
    align-items: center;
}


#left{
    float: left;
    padding: 10px;
    cursor: pointer;
    color: white;
}
#left a{text-decoration: none;}
#right{
    float: right;
}




#right ul{
    list-style: none;
    display: flex;

}
#right ul li{
    padding:18px;
    cursor: pointer;
    color: white;
    transition: 0.8s ease;

}
#right ul li:hover{
    background: rgb(10, 25, 103);
   
}
#right ul a{
    text-decoration: none;
    text-transform: uppercase;


}

#checked{
    background-color: rgb(10, 25, 103);
    
}


#left h2{
    margin-left: 10px;
   font-size: 18px;
   color: rgb(236, 236, 236);
   

   
}

#left h2 span{
    font-size: 25px;
    color: white;
}

footer{
    background-color: rgb(39, 71, 234);
    display:  flex;
text-align: center;
    justify-content: center;
}

#logof h2{
    font-size: 18px;
   color: rgb(236, 236, 236);

    
}

#logof span{
    font-size: 25px;
    color: white;
}

#icons i{
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1px black solid;
    transition: 0.6s ease;
    
   
}


#icons #lasts{
    border: none;
}

#icons i:hover{
    color: rgb(255, 255, 255);

}


main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    flex-wrap: wrap;

}


#textA h1{
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 5px;
    color: rgb(37, 55, 252);


}

#textA p{
    text-align: justify;
    margin-left: 8px;
    color: black;
    margin-top: 5px;
}

article{
    cursor: pointer;
    flex-direction: row;
    display: flex;

    padding: 20px;
    width: 500px;
    color: white;
    margin: 20px;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 5px 5px 20px black;
    transition: 0.6s ease;
}
article:hover{
    background-color: WHITE;
    opacity: 1;


}

article img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    
    border: 2px solid rgb(37, 55, 252);
    background-color: rgb(37, 55, 252);
    box-shadow: 5px 5px 20px black;
    border-radius: 500px;
}


footer a{
    text-decoration: none;
}




#bergerr{
    width: 40px;
    height: 40px;
    padding: 15px;
    cursor: pointer;
    display: none;
    margin-right: 50px;
    transition: 0.6s  ease;
    
}

#bergerr:hover{
    background-color: white;
}
.nave{
    position: absolute;
    display: none;
    margin-top: 0px;
    background-color: rgb(39, 71, 234);
    
    
}
.nave ul{
    list-style: none;
    text-transform: uppercase;
    
}
.nave ul a{
    text-decoration: none;
}
.nave ul li{
    padding:18px;
    cursor: pointer;
    color: white;
    transition: 0.8s ease;



}
.nave ul li:hover{
    background: rgb(10, 25, 103);
   
}
.nave ul li #checked
.naveParent{
    display: flex;
    flex-direction: column;

}

.dvtext{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.dvtext h1{
    margin-top: 100px;
}


@media (max-width:736px) {
    

    main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 100px;
       
    }
   
   

    #mn1{
        padding-bottom: 20px;
        border-right: none;
        margin-right: 20px;
        border: none;
        padding-right: 10px;
        margin-bottom: 20px;
        
    
    
    }#mn1 h1{
        font-size: 30px;
        text-transform: uppercase;
        color:rgb(10, 25, 103)  ;
    
    
    }
    #right{

        display: none;
        transition: 0.5s ease;
    }

    header{
        display: flex;
        justify-content: space-between;
    }
    #bergerr{
        display: block;
    }

    #right ul{
        list-style: none;
        display: block;
    
    }

    article img{
        width: 150px;
        height: 150px;
    }

    
}




#modaleshow{
  
 position: fixed;
 justify-content: center;
 align-items: center;
 text-align: center;
 display: none;
 width: 100%;
 height: 100%; 
 padding-top: 30px;
top: 0;
background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));

}

#modaleshow .child{
    align-items: center;
    display: flex;
    justify-content: center;
}
#modaleshow h1{
    color: rgb(255, 255, 255);
 

}


.btnV{
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(37, 37, 255);
    border-radius: 500px;
    margin: 10px;
    color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.8s ease;
    cursor: pointer;
}

.btnV:hover{
    background-color: rgb(6, 6, 228);

}


.btnF{
    cursor: pointer;

    transition: 0.8s ease;

    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 500px;
    margin: 30px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgb(46, 46, 46);

}

.btnF:hover{
    background-color: rgb(255, 255, 255);

}

#modaleshow p{
    margin-top: 20px;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}


#modaleshow img{
    width: 200px;
    height: 200px;
    margin-right: 10px;
    
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(37, 55, 252);
    box-shadow: 5px 5px 20px black;
    border-radius: 500px;
    margin-top: 30px;


}